<section class="page">
  <h1 style="color: #127070">Movie list</h1>
  <mat-divider></mat-divider>

  <!--  // list of movies-->
  <app-movie-list [movies]="movies$ | async" (editMovieEmitter)="editMovie($event)"
                  (deleteMovieEmitter)="deleteMovie($event)">
  </app-movie-list>

  <!--  // total amount-->
  <app-total-amount-panel [totalAmount]="totalAmount$ | async"></app-total-amount-panel>

  <!--  // form-->
  <app-create-movie-form *ngIf=movieFormGroup
                         [movieId]="movieId" [movieFormGroup]="movieFormGroup"
                         (saveMovieEmitter)="saveMovie()" (clearFormEmitter)="clearForm()">
  </app-create-movie-form>
</section>

