/* You can add global styles to this file, and also import other style files */
@import '../../../node_modules/bootstrap/scss/functions';
@import '../../../node_modules/bootstrap/scss/variables';
@import '../../../node_modules/bootstrap/scss/bootstrap';

.xxx {
  color: red;
}

body {
  margin: 0;
  background-image: url("../image/background_1.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-repeat: no-repeat;;
  background-attachment: fixed;
}
