<div class="d-flex justify-content-center align-items-center ms-3 h-100">
  <div class="d-flex row ms-3">
    <div>
      Write you email.
    </div>
    <div>Please enter your email details. We will send instructions to reset password</div>
    <form class="d-flex flex-column align-items-start pt-5" (ngSubmit)="resetPassword()">

      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput name="email" id="email" [formControl]="email" required email>
      </mat-form-field>
      <div class="d-flex">
        <button mat-stroked-button [disabled]="email.invalid" class="submit-button me-2 text-capitalize" type="submit">
          Send to reset password
        </button>
      </div>
    </form>
    <div class="d-flex">
      <div class="start" type="button" (click)="redirect('login')">Go back do start</div>
    </div>
  </div>
</div>
