.navbar{
  background-image: linear-gradient(15deg, #b5bcc400 0%, #b5bcc48c 100%);
}

mat-sidenav {
  margin: 15px;
  width: 200px;
  border-right: none;
  background: rgb(133, 134, 155);
  color: white;
  border-radius: 15px;
  padding: 10px;
  text-align: center;
}

.content {
  background-image: url('/background_1.png');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-repeat: no-repeat;;
  background-attachment: fixed;
  margin: 15px 15px 15px 30px;
  border-radius: 15px;
  min-height: calc(100vh - 100px);
  font-size: 2rem;
  color: #209982db;
}

mat-sidenav-container {
  height: calc(100vh - 50px);
}

.menu-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1rem;

  mat-icon {
    margin-right: 8px;
  }
}

.avatar {
  margin-top: 16px;
  width: 100px;
  height: 100px;
  border-radius: 20%;
  filter: grayscale(50%);
}

.name {
  margin-top: 8px;
  font-weight: normal;
}

.designation {
  margin-top: 2px;
  font-size: 0.7rem;
  color: #dadada;
}

mat-divider {
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: rgba(38, 50, 63, 0.5);
}


.icon-button{
  background: none;
  padding: 0;
  border: 0;
  cursor: pointer;
}

.ngrx-span {
  margin-left: -10px;
}

.icon {
  margin-left: -19px;
  width: 60px;
}
