.button {
  color: #229489;
  border: 3px solid #229489;
}
.angular-logo {
  width: 200px;
  min-height: 50px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../../assets/image/angular_logo.png");
}
